extends layout

block content
  .inner
    h2 Edit your account
    form.form(action="/account", method="post")
      //- user is available here provided by passport 
      label(for="name") Name
      input(type="text", name="name", value=user.name)
      label(for="email") Email
      input(type="email", name="email", value=user.email)
      input.button(type="submit", value="Save")